/* Remove the standard margin/padding of the html body */
body {
    margin: 30px 50px 30px 50px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: lightgray;
}

.menu {
    font-size: 50px;  
    font-family: serif;
    background-color: black;
}

.menu .link {
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
}

.menu .link:hover {
    color: orangered;
}

.banner {
    height: 10rem;
    width: 100%;
    background-image: url(https://media.istockphoto.com/photos/handball-picture-id505871965?k=6&m=505871965&s=612x612&w=0&h=RTx3lo9IMTJ6agxNMJvPA49dNs_DUVLJ0yQlxRxZKSA=);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.row-flex {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
}

.row-flex .col-adjust {
    flex-basis: 100px;
    flex-shrink: 0;
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
}

.Antike{
    display: table;
    background-position: center;
    margin: auto;
}

.Antike .History{
    height: 350px;
    width: 550px;
}

.Feldhandball{
    display: table;
    margin: auto;
    width: 20rem;
}

.rechts{
    float: right;
    margin-left: 50px;
    height: 400px;
    width: 580px;
}

.links{
    margin: 10px;
    
}

.Unterschrift{
    color: slateblue;
    font-size: 10pt;
}

.schweizer_handball .bild_manschaft {
    display: flex;
    height: 30rem;
    width: 50rem;
    background-position: center;
    padding: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.schweizer_handball .p_1 {
    font-size: 19px;
}

.table {
    display: table;
    text-align: center;
}

.tabelle_hb {
    display: table;
    background-position: center;
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    margin: auto;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.tabelle_hb .image {
    height: 100px;
    width: 100px;
}

.tabelle_hb .platzierung {
    font-size: 25px;
}

.tabelle_hb .platzierung_1 {
    font-size: 25px;
    font-weight: bolder;
}

.footer {
    display: flex table;
    background-color: darkgray;
    background-size: 100% auto;
    background-position: center;
    color: black;
    margin-top: 20px;
}

.footer .image_footer {
    height: 200px;
    width: 250px;
    background-position: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: auto;
    padding-left: auto;
}

.link {
    color: black;
    font-weight: bold;
}

.impressum {
    display: table;
    text-align:center;
    font-size: 16px;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
    padding-top: 0px;
    padding-bottom: 5px;
}







































