/* Remove the standard margin/padding of the html body */
body {
    margin: 30px 50px 30px 50px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.menu {
    font-size: 50px;  
    font-family: serif;
    background-color: black;
}
.menu .link {
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
}
.menu .link:hover {
    color: orangered;
}
.banner {
    height: 10rem;
    width: 100%;
    background-image: url(https://media.istockphoto.com/photos/handball-picture-id505871965?k=6&m=505871965&s=612x612&w=0&h=RTx3lo9IMTJ6agxNMJvPA49dNs_DUVLJ0yQlxRxZKSA=);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.row-flex {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
}

.row-flex .col-adjust {
    flex-basis: 100px;
    flex-shrink: 0;
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
}
.page {
 

}








.bild_manschaft img{
    background-position: center;
    height: 30px;
    width: 50px;
    margin: 50px 10px 50px 10px;
}

.schweizer_handball {

}
.table {
    display: table;
    text-align: center;

}
.tabelle_hb {
    display: table;
    background-position: center;
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    margin: auto;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}


.footer {
    display: flex table;
    background-color: lightgray;
    background-size: 100% auto;
    background-position: center;
    color: gray;
    
}
.impressum .link {
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

.impressum {
    display: table;
    text-align:center;
    font-size: 15px;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
    padding-top: 0px;
    padding-bottom: 5px;
}







































